{% extends 'base.html.twig' %}

{% block title %}Accueil - Jeans-Lassape{% endblock %}

{% block body %}
{% if app.user %}
    <div class="profile">
        <a href="{{ path('app_profile') }}">
            <img src="{{ asset('images/profile-icon.png') }}" alt="Profile Icon">
        </a>
        <p>Bienvenue, {{ app.user.username }}!</p>
        <a href="{{ path('app_logout') }}">
            <button type="button">Se déconnecter</button>
        </a>
    </div>
{% endif %}
<section class="banner">
    <div class="banner-image"></div>
    <div class="banner-content">
        <h1>Bienvenue sur notre boutique en ligne</h1>
        <p>Découvrez nos meilleurs produits aux meilleurs prix</p>
    </div>
</section>

<section class="featured-products">
    <h2>Nouveautés</h2>
    <div class="product-list">
        {% for article in articles %}
            <a class="product-card" href="/article/{{ article.id }}">
                <img src="{{ article.image }}" alt="{{ article.nom }}">
                <div class="product-informations">
                    <h3>{{ article.nom }}</h3>
                    <p class="price">{{ article.prix }} €</p>
                    <p class="category">{{ article.categorie }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</section>

<div class="button-container">
    <a href="/articles" class="view-all-button">Voir tous les articles</a>
</div>

<section class="banner2">
    <div class="banner-image2"></div>
    <div class="white-box">
        <h2>L'histoire de Jeans-Lassape</h2>
        <p>Jeans-Lassape a été fondée avec une mission simple :</br>
	encourager plus de personnes à porter nos vêtements.</p>
	    <div class="button-container">
        <a href="aboutus.html" class="view-all-button">A propos de nous</a>
    </div>
    </div>
</section>

{% endblock %}
