{% extends 'base.html.twig' %}

{% block title %}Articles - {{ categorie }} - Jeans-Lassape{% endblock %}

{% block body %}
    <section class="bannerarticles">
        {% if genre == 'Homme' %}
            <div class="bannerarticles-image2"></div>
        {% elseif genre == 'Femme' %}
            <div class="bannerarticles-image3"></div>
        {% else %}
            <div class="bannerarticles-image1"></div>
        {% endif %}
    </section>

    <h2>Articles pour la catégorie "{{ categorie }}"</h2>
        <div class="pagination">
        {{ knp_pagination_render(articles) }}
    </div>
    <section class="featured-products">
        <div class="product-list">
            {% for article in articles %}
                <div class="product-card">
                    <img src="{{ asset(article.image) }}" alt="{{ article.nom }}">
                    <div class="product-informations">
                        <h3>{{ article.nom }}</h3>
                        <p class="price">{{ article.prix }} €</p>
                        <p class="category">{{ article.categorie }}</p>
                        <button class="view-all-button">Ajouter</button>
                    </div>
                </div>
            {% else %}
                <p>Aucun article trouvé pour cette catégorie.</p>
            {% endfor %}
        </div>
    </section>

    <div class="pagination">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
