{% extends 'base.html.twig' %}

{% block title %}Articles - Jeans-Lassape{% endblock %}

{% block body %}
    <section class="bannerarticles">
        <div class="bannerarticles-image1"></div>
    </section>

    <section class="articles">
        <h2>Nos Articles</h2>
        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>
        <section class="featured-products">
            <div class="product-list">
        {% for article in articles %}
            <a class="product-card" href="/article/{{ article.id }}">
                <img src="{{ article.image }}" alt="{{ article.nom }}">
                <div class="product-informations">
                    <h3>{{ article.nom }}</h3>
                    <p class="price">{{ article.prix }} €</p>
                    <p class="category">{{ article.categorie }}</p>
                </div>
            </a>
        {% endfor %}
            </div>
        </section>

        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>
    </section>
{% endblock %}
