<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil - Jeans-Lassape{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>

    <header>
        <a class="logo" href="/"></a>
        <nav>
            <div class="nav-links">
             <div class="dropdown">
              <a href="/articles">Tous les articles</a>
              </div>
                <div class="dropdown">
                    <a href="{{ path('app_articles_category', {'genre': 'Homme', 'categorie': 'Tous'}) }}">Hommes ▼</a>
                    <div class="dropdown-content">
                        <a href="{{ path('app_articles_category', {'genre': 'Homme', 'categorie': 'Vêtements'}) }}">Vêtements</a>
                        <a href="{{ path('app_articles_category', {'genre': 'Homme', 'categorie': 'Chaussures'}) }}">Chaussures</a>
                        <a href="{{ path('app_articles_category', {'genre': 'Homme', 'categorie': 'Accessoires'}) }}">Accessoires</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="{{ path('app_articles_category', {'genre': 'Femme', 'categorie': 'Tous'}) }}">Femmes ▼</a>
                    <div class="dropdown-content">
                        <a href="{{ path('app_articles_category', {'genre': 'Femme', 'categorie': 'Vêtements'}) }}">Vêtements</a>
                        <a href="{{ path('app_articles_category', {'genre': 'Femme', 'categorie': 'Chaussures'}) }}">Chaussures</a>
                        <a href="{{ path('app_articles_category', {'genre': 'Femme', 'categorie': 'Accessoires'}) }}">Accessoires</a>
                    </div>
                </div>
            </div>

            <div class="nav-icons">
                <a href="/search" class="search"></a>
                <a href="/cart" class="panier"></a>
                <a href="{{ path('app_login') }}" class="profile"></a>
            </div>
        </nav>
    </header>

    <main>
        {% block body %}
        <!-- Contenu spécifique de chaque page -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mon E-commerce - Tous droits réservés</p>
    </footer>

</body>
</html>
