{% extends 'base.html.twig' %}

{% block title %}Profile of {{ user.username }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <!-- Left column: User info -->
        <div class="user-info">
            <div class="user-profile">
                <img src="{{ user.profilPicture }}" alt="Profile Picture" class="profile-picture">
                <div class="user-details">
                <p>{{ user.username }}</p>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>

        <!-- Right column: Articles -->
        <div class="articles-section">
            <h2>Les articles de {{ user.username }}</h2>
            {% if articles is empty %}
                <div class="no-articles">
                    <p>No articles found.</p>
                </div>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Categories</th>
                            <th>Genre</th>
                            <th>Prix</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td><img src="{{ article.image }}" alt="Article Image" width="50" height="50"></td>
                                <td>{{ article.nom }}</td>
                                <td>{{ article.categorie }}</td>
                                <td>{{ article.genre }}</td>
                                <td>{{ article.prix }} €</td>
                                <td>
                                    <a href="{{ path('app_article_details', {id: article.id}) }}">Voir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

